@using ReferEngine.Common.Models


@{
    var tabletImage = new CloudinaryImage { Id = "browse_windows_store_apps_dbnc18", Format = "png" };
}
<p style="font-size: 28px; text-align: center; width: 900px">
    Applications have become a big part of our lives. With more than a million apps
    and counting, finding the best apps is becoming a challenge. 
</p>
@*<p style="margin-top: 40px">
    <a href="~/app-store/windows">
        <img src="@tabletImage.GetLink("w_500")" alt="Refer Engine Logo" style="border: 0"/>
    </a>
</p>*@
