<style>
    .about-text {
        font-size: 20px;
        padding: 0 50px;
    }
</style>
<div class="about-text">
    <p>Applications have become a big part of our lives.</p>
    <p>With more than a million apps and counting, finding the best apps is a challenge.</p>
    <p>
        Refer Engine solves this by giving the users the power to recommend apps to their
        friends.
    </p>
</div>
