@{
    ViewProperties.UseJQueryValidate = true;
}

@section scripts
{
    @Scripts.Render("~/js/home/index")
}


<div id="landing">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2>Marketing for App Developers</h2>
                <p>Refer Engine enables Facebook recommendations within your app with customer rewards. Instant setup. Start for free!</p>
                <p class="txt-middle" id="try-button"><a href="~/account/register" class="btn btn-primary btn-action">Try it for free</a></p>
            </div>
            <div class="span6">
                <div class="js-video pull-right">
                    <iframe src="http://player.vimeo.com/video/58735872" width="450" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="txt-middle">
    <div class="container">
        <div class="row">
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-time"></i>
                </div>
                <h3>Up and running in no time</h3>
                <p>Get Refer Engine up and running in your app within minutes.</p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-check"></i>
                </div>
                <h3>Start for Free</h3>
                <p>It just makes sense. If Refer Engine does not work for you, you pay nothing. </p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-user"></i>
                </div>
                <h3>Reward your best customers</h3>
                <p>The best marketing is word of mouth. So reward your most influential customers.</p>
            </div>
        </div>
    </div>
</div>
