@if (!string.IsNullOrEmpty(ViewProperties.WarningMessage))
{
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewProperties.WarningMessage
    </div>
}
        
@if (!string.IsNullOrEmpty(ViewProperties.ErrorMessage))
{
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewProperties.ErrorMessage
    </div>
}
        
@if (!string.IsNullOrEmpty(ViewProperties.SuccessMessage))
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewProperties.SuccessMessage
    </div>
}
        
@if (!string.IsNullOrEmpty(ViewProperties.InfoMessage))
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewProperties.InfoMessage
    </div>
}