<div class="banner">
    <p>Hi! We are so happy you are using @Model.Name.</p>
    <p>You're awesome! <span class="symbol"></span></p>
    <p>Please support us by recommending to your friends!</p>
    <p>It would help us a lot <span class="symbol"></span></p>
</div>