@using ReferEngine.Common.Models
@using ReferEngine.Common.Utilities
@model ReferEngine.Common.Models.App

@section scripts
{
    <script data-main="/typescript/recommend/windows/server/intro.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}

@section styles
{
    @Styles.Render("~/bundles/less/recommend/win8/intro")
}

@Html.Image(Server.MapPath("~/img/recommend/win8/start-arrow.png"), "Start here!", "start-arrow")

<div class="center-content">
    @if (Model.RewardPlan.Type == AppRewardPlanType.Cash)
    {
        @Html.Partial("win8/_intro_cash")
    }
    else if (Model.RewardPlan.Type == AppRewardPlanType.None)
    {
        @Html.Partial("win8/_intro_none")
    }
    else if (Model.RewardPlan.Type == AppRewardPlanType.Custom)
    {
        
    }
</div>

@section footer
{
    <div>
        <a class="m-btn no" id="re-cancel">Cancel</a>
        <div class="chkCtnr">
            <input type="checkbox" id="dontAsk" />
            <label for="dontAsk">Don't ask me again</label>
        </div>
        <div class="never">We never post to Facebook without your permission.</div>
        <a class="m-btn go login">Log In to Facebook</a>
    </div>
}
