@model ReferEngine.Web.Models.Recommend.Win8.RecommendViewModel

@section scripts
{
    @Scripts.Render("~/bundles/ts/recommend/windows/recommend")
}

@section styles
{
    @Styles.Render("~/bundles/less/recommend/win8/recommend")
}

<div class="error">
    <div>
        <p>
            Another Facebook user has already recommended @Model.App.Name from this Windows account. 
        </p>
    </div>
</div>

@section footer
{
    <div style="width: 100%">
        <div class="chkCtnr"></div>
        <a class="m-btn go" id="done-button">Close</a>
    </div>
}