<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" /><section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" /></configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=referenginestorage;AccountKey=v+tPMPtnLeAvjyTPKRcCadV3kFB/ZrfOgclFI1cZTTSLbvJHJlKjmV0WTWuKZHqidgGjj5Goim25F//zwHcUAw==" />
    <add name="west" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=referengine_db;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="west_test" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=referengine_db_test;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="west_local" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=referengine_db_local;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="east" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=referengine_db_eastus;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="east_test" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=referengine_db_eastus_test;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="east_local" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=referengine_db_eastus_local;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="asia" connectionString="Server=tcp:r0mmnh6n2q.database.windows.net,1433;Database=referengine_db_eastasia;User ID=tarek990@r0mmnh6n2q;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="asia_test" connectionString="Server=tcp:r0mmnh6n2q.database.windows.net,1433;Database=referengine_db_eastasia_test;User ID=tarek990@r0mmnh6n2q;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="asia_local" connectionString="Server=tcp:r0mmnh6n2q.database.windows.net,1433;Database=referengine_db_eastasia_local;User ID=tarek990@r0mmnh6n2q;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ios_west" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=iOS-Production-West;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ios_east" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=iOS-Production-East;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ios_local" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=iOS-Local;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
