@model ReferEngine.Common.Models.App

@section Styles
{
    @Styles.Render("~/less/app/new")
}

@section Scripts 
{
    @Scripts.Render("~/ts/app/new")
}

<div id="content">
    <div class="container">
        <div class="step0">
            @using (Html.BeginForm(new { ViewProperties.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                        <div class="row" style="border-bottom: 1px solid #DDD; margin-bottom: 30px; padding-left: 10px">
                            <h3>Add New App</h3>
                        </div>
                <div class="row row-bmargin">
                    <div class="span3">Start typing your app name:</div>
                    <div class="span4">
                        <input type="text" id="refine-app-name" placeholder="" data-bind="value: AppSearchTerm, valueUpdate: 'keyup'">
                    </div>
                    @*<div class="span6">
                        <a class="btn btn-primary">Find Your App</a>
                    </div>*@
                </div>

                <!-- ko foreach: AppSearchResults -->
                <div class="row row-bmargin-sml">
                    <div class="span1">
                        <img data-bind="attr: { src: LogoLink, alt: Name }" />
                    </div>
                    <div class="span3" data-bind="html: Name"></div>
                    <div class="span2" data-bind="html: Category"></div>
                    <div class="span2" data-bind="html: Developer"></div>
                    <div class="span4">
                        <a class="btn btn-primary">This is my app</a>
                    </div>  
                </div>
                <!-- /ko -->                
            }
        </div>
    </div>
</div>
