@model ReferEngine.Common.Models.App

@{
    ViewProperties viewProperties = ((ViewProperties)ViewData["ViewProperties"]);
}

@section Styles
{
    @Styles.Render("~/less/app/new")
}

@section scripts
{
    <script data-main="/typescript/app/new.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}

<div id="content">
    <div class="container">
        @using (Html.BeginForm(new {viewProperties.ReturnUrl}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @*<div class="row" style="border-bottom: 1px solid #DDD; margin-bottom: 30px; padding-left: 10px">
                <h3>Add New App</h3>
            </div>*@
            <div data-sp-step="app-search">
              <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Let's start by searching for your app:
                </div>                
                <div class="row row-bmargin">
                    <div class="span3">Start typing your app name:</div>
                    <div class="span4">
                        <input type="text" id="refine-app-name" placeholder="" data-bind="value: AppSearchTerm, valueUpdate: 'keyup'">
                    </div>
                </div>

                <!-- ko foreach: AppSearchResults -->
                <div class="row row-bmargin-sml app-result-row" 
                    data-bind="click: $parent.onClickAppRow, attr: { 'data-ms-id': MsAppId }">
                    <div class="span1">
                        <img data-bind="attr: { src: LogoLink, alt: Name }" />
                    </div>
                    <div class="span4" data-bind="html: Name"></div>
                    <div class="span3" data-bind="html: Category"></div>
                    <div class="span4" data-bind="html: Developer"></div> 
                </div>
                <!-- /ko -->                
            </div>
            <div data-sp-step="app-verify" data-bind="if: SelectedApp()">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Here is what we know about <span data-bind="html: SelectedApp().Name"></span> 
                        from the Windows Store.
                </div>
                <div class="row row-bmargin">
                    <div class="span1">
                        <img data-bind="attr: { src: SelectedApp().LogoLink }"/>
                    </div>
                    <div class="span11">
                        <h4 data-bind="html: SelectedApp().Name"></h4>
                    </div>
                </div>
                <div class="row row-bmargin">
                    <div class="span12">
                        <p><strong>Category</strong></p>
                        <p data-bind="html: SelectedApp().Category"></p>
                        <p><strong>Description</strong></p>
                        <p data-bind="html: SelectedApp().DescriptionHtml"></p>
                        <p><strong>Features</strong></p>
                        <p data-bind="html: SelectedApp().FeaturesHtml"></p>
                        <p><strong>Supported Languages</strong></p>
                        <p data-bind="html: SelectedApp().Languages"></p>
                        <p><strong>Developer</strong></p>
                        <p data-bind="html: SelectedApp().Developer"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="span3 offset2">
                        <a class="btn back-to-search">Back to Search</a>
                    </div>
                    <div class="span3 offset2">
                        <a class="btn btn-primary my-app" data-bind="click: onClickMyApp">This is my app</a>
                    </div>
                </div>
            </div>            
        }
    </div>
</div>