@headerFontSize: 14px;

.navbar
{
    .brand
    {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav {
        > li {
            > a {
                color: #394755;
                padding: 10px;

                &:not(.btn) {
                    font-size: @headerFontSize;
                }
            }

            &.active > a {
                color: #394755;
            }
        }

        .btn,
        .btn-group li {
            font-size: @headerFontSize;
        }
    }
}

#footer {
    padding-top: 0;
    margin-top: 20px;
}
#try-button a {
    margin-top: 20px;
}

#login-group {
    margin-left: 20px;
}