a {
  color: #00aff0;
}
a:hover {
  color: #77b201;
}
.btn-link:hover {
  color: #77b201;
}
.color {
  background: #00aff0;
  color: #fff;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #00aff0;
  outline: 0;
  outline: thin dotted \9;
}
header .navbar .navbar-inner li.active {
  border-top: 5px solid #fff;
  background: #00aff0;
  margin-top: -5px;
}
header .navbar .navbar-inner nav li.blob {
  border-top: 5px solid #00aff0;
  margin-top: -5px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: #00aff0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: #00aff0;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #00aff0;
}
.breadcrumb {
  border-left: 5px solid #00aff0;
}
.accordion-group {
  border: 1px solid #00aff0;
}
.accordion-inner {
  border-top: 1px solid #00aff0;
}
.accordion-heading {
  background-color: #00aff0;
}
.flex-direction-nav li a:hover {
  background: #00aff0;
}
.carousel-control {
  background: #00aff0;
}
.btn-link {
  color: #00aff0;
}
.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #00aff0;
  border-bottom-color: #00aff0;
}
.pagination ul > li > a,
.pagination ul > li > span {
  background-color: #00aff0;
  border: 1px solid #00aff0;
  color: #fff;
  border-left-width: 0;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #00aff0;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #00aff0;
  color: #fff;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}
.label-orange,
.badge-orange {
  background-color: #00aff0;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: #00aff0;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: #00aff0;
}
.nav .dropdown-toggle .caret {
  border-top-color: #00aff0;
  border-bottom-color: #00aff0;
}
/* custom progress bar according template skin */
.progress-orange .bar,
.progress .bar-orange {
  background: #00aff0;
}
.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
  background: #00aff0;
}
/* form */
.contact-form input:focus {
  border-color: #00aff0;
}
/* article */
article .headline h4 a {
  color: #00aff0;
}
article.last-post {
  background: #00aff0;
}
ul.time-post li.year {
  border-bottom: 1px solid #00aff0;
}
section#subintro {
  background: #3ecbff;
}
footer.footer {
  background: #00aff0;
}
.error-body {
  background: #00aff0;
  padding: 20px;
  text-align: center;
}
a.thumbnail:hover {
  border-color: #00aff0;
}
ul.filter li.active a:hover,
a.zoom:hover,
a.link_post:hover,
.flex-control-nav li a:hover,
.flex-control-nav li a.active {
  background: #00aff0;
}
.thumbnail h4 a:hover,
.thumbnail .meta span a:hover,
ul.recent li h6 a:hover,
ul.post-meta li a:hover,
.media-body span,
.media-body .media-heading a:hover,
form label span,
article.last-post h5 a:hover {
  color: #00aff0;
  text-decoration: none;
}
/* nivo */
.nivo-directionNav a,
.nivo-controlNav a.active,
.nivo-controlNav a:hover {
  background-color: #00aff0;
}
.widget .heading {
  border-bottom: 1px solid #0077a3;
}
.widget .heading .btn {
  background-color: #0077a3;
  background-image: -moz-linear-gradient(top, #3ecbff, #0077a3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3ecbff), to(#0077a3));
  background-image: -webkit-linear-gradient(top, #3ecbff, #0077a3);
  background-image: -o-linear-gradient(top, #3ecbff, #0077a3);
  background-image: linear-gradient(to bottom, #3ecbff, #0077a3);
}
