@model ReferLib.App

@{
    ViewBag.Title = "About";
}

@*@section scripts
{
    <script src="~/js/facebook.js"></script>
}*@

@section styles
{
    <link rel="stylesheet" href="~/css/refer/intro.css" />
}

<div class="container">
    <div class="row">
        <h2 class="span12">
            Spread the word about @Model.Name and earn rewards! 
        </h2>
    </div>
    <div class="row">
        <p class="span12">
            Introducing the @Model.Name referral program!
        </p>
        <p class="span12">
            It is very simple:
        </p>
        <ol>
            <li>Login to Facebook and tell your friends about @Model.Name</li>
            <li>Earn rewards for every friend who buys @Model.Name!</li>
        </ol>
    </div>
    <div class="row" id="start-row">
        <div class="span12 center-content">
            <a class="btn btn-success btn-large" href="~/refer/start/@Model.Id">Start</a>
        </div>
    </div>
    <div class="row">
        <div class="span12 center-content">
            <button class="btn btn-small">Not Now</button>
            <button class="btn btn-small">Don't ask me again</button>
        </div>
    </div>
</div>
