@{
    ViewProperties.UseJQueryValidate = true;
}

@section scripts {
    @Scripts.Render("~/js/contact/index")
}

<div id="header">
    <div class="container">  
        <div class="row">
            <div class="span12">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span5">
                <h2><i class="icon-envelope"></i> Send Us A Message</h2>
                <form>
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <input class="span5" type="text" placeholder="Your Full Name" id="name">
                            </div>
                            <div class="controls">
                                <input class="span5" type="text" placeholder="Your Email" id="email" name="email">
                            </div>
                            <div class="controls">
                                <input class="span5" type="text" placeholder="Message Subject" id="subject">
                            </div>
                            <div class="controls">
                                <textarea class="span5" id="message" rows="6" placeholder="Your Message" name="message"></textarea>
                            </div>
                            <button class="btn btn-primary" style="margin-top: 10px;" id="send">Send Message</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span7">
                <div class="row">
                    <div class="span4">
                        <h2>@@ Email</h2>
                        <p><a href="mailto:support@referengine.com">support@referengine.com</a></p>
                    </div>
                    <div class="span3">
                        <h2><i class="icon-map-marker"></i> Address</h2>
                        <address>
                            600 Bellevue Ave E, Unit 202
		                    <br>
                            Seattle, WA 98102
                        </address>
                    </div>
                </div>
                <div class="thumbnail">
                    <img border="0" alt="" src="https://dev.virtualearth.net/REST/V1/Imagery/Map/Road/600%20Bellevue%20Ave%20E%20Seattle%20WA?mapsize=640,230&key=AnDOkKDopyRjXu5AsKf8L4ZC80ghy642IYYJ3TiG7K62VnLAX4sm381rF3HK8ohI">
                </div>
            </div>
        </div>
    </div>
</div>
