@{
    ViewBag.Title = "About";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}

@*@section scripts
{
    <script src="~/js/facebook.js"></script>
}*@

@section styles
{
    @*<link rel="stylesheet" href="~/css/refer/intro.css" />*@
}

<div class="container">
    <div class="row">
        <div class="span1">
            <img src="http://wscont1.apps.microsoft.com/winstore/1x/265b36ec-27f1-4670-b624-976bfe63e650/Icon.20879.png" />
        </div>
        <h2 class="span11">Blu Graphing Calculator for Windows 8</h2>
    </div>
    <div class="row">
        <div class="span12">
            <p>
                See demo videos here: www.BluGraphingCalculator.com.
            </p>
            <p>
                Blu is Calculator ReImagined for Windows 8. A next generation graphing and scientific calculator that delivers a touch-first hands on experience. Blu was designed with students and teachers in mind. 
            </p>
            <p>
                We would love to hear from you at feedback@blugraphingcalculator.com or within the Send Us Feedback link in the app under Settings.
            </p>
            <p>Blu offers: </p>
            <ul>
                <li>Calculator Mode</li>
                <ul>
                    <li>Basic calculator operations</li>
                    <li>Operation history with support for editing previous operations</li>
                    <li>24 trigonometric functions</li>
                    <li>Complex numbers support</li>
                    <li>Scientific functions and constants</li>
                    <li>Variables</li>
                </ul>
            </ul>
            <ul>
                <li>Graphing Mode</li>
                <ul>
                    <li>Multiple graphs supported with thumbnail view</li>
                    <li>Multiple curves per graph, with hide/show for each curve</li>
                    <li>Scratch On enables you to write and draw on top of the graph</li>
                    <li>Zoom using touch and mouse</li>
                    <li>Save your graph to .xml and .blu and open it later (all curves and scratch on is saved/loaded)</li>
                    <li>Table view</li>
                    <li>Edit Graph Window</li>
                    <li>Export to image</li>
                    <li>Print</li>
                </ul>
            </ul>
        </div>
    </div>
</div>
