.navbar .brand {
  padding: 0;
}
.navbar .brand img {
  margin-top: 5px;
}
.navbar .nav {
  margin: 5px 0 0;
}
.navbar .nav > li > a {
  color: #394755;
  padding: 10px;
}
.navbar .nav > li > a:not(.btn) {
  font-size: 14px;
}
.navbar .nav > li.active > a {
  color: #394755;
}
.navbar .nav .btn,
.navbar .nav .btn-group li {
  font-size: 14px;
}
#footer {
  padding-top: 0;
  margin-top: 20px;
}
#try-button a {
  margin-top: 20px;
}
#login-group {
  margin: 5px 0 5px 20px;
}
#logoutForm {
  display: inline-block;
  margin: 0;
}
.control-group .controls.static {
  margin-top: 4px;
}
#subintro a,
#subintro a:visited,
#subintro a:link,
#subintro a:active {
  color: #FFF;
}
#subintro .nav-sep {
  padding: 0 10px;
}
.portfolio-area .thumbnail a .caption {
  color: #009cea;
}
