<form class="form-search" action="~/app-store/windows/a/search" method="GET">
    <input type="text" name="searchTerm" class="input-medium search-query"
            placeholder="Search Windows Store Apps">
    <button type="submit" class="btn btn-inverse">@ViewResources.Search</button>
</form>