@model ReferEngine.Common.Models.WindowsAppStoreCategory

<li class="portfolio-item2" data-id="id-0" data-type="web">
    <div class="span3">
        <a href="~/app-store/windows/@Model.LinkPart">
            <div class="thumbnail">
                <div class="image-wrapp">
                    @if (Model.CloudinaryImage != null)
                    {
                        ImageTag imageTag = new ImageTag(Model.CloudinaryImage.Id, Model.CloudinaryImage.Format);
                        <text>@imageTag.ToHtmlString()</text>
                    }
                    else
                    {
                        <img src="~/img/dummies/work1.jpg"
                            style="height: 90px; width: 270px" alt="Portfolio name" title="" />
                    }
                </div>
                <div class="caption">
                    <h3><a>@Model.Name</a></h3>
                </div>
            </div>
        </a>
    </div>
</li>
