@model IList<WindowsAppStoreCategory>
@using ReferEngine.Common.Models
@using ReferEngine.Web.Areas.AppStore.ViewModels

<div class="row">
    <ul class="portfolio-area da-thumbs">    
        @foreach (WindowsAppStoreCategory category in Model)
        {
            @Html.Partial("_WindowsCategoryTile", category)
        }
    </ul>
</div>

@section Navigation
{
    @Html.Partial("_WindowsStoreNavigation", new WindowsStoreNavigationViewModel())
}
