@model IList<WindowsAppStoreCategory>
@using ReferEngine.Common.Models

<div class="row">
    <ul class="portfolio-area da-thumbs">    
        @foreach (WindowsAppStoreCategory category in Model)
        {
            @Html.Partial("_WindowsCategoryTile", category)
        }
    </ul>
</div>