@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="~/js/emailForm.js"></script>
}

<div id="landing">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>@ViewBag.HeadlineText</h1>
                <p>
                    Your customers will recommend your app to their friends through Facebook and you will reward them for it. It is all
                    automated through Refer Engine! Connect with your customers, reward them and create loyalty. 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span12 center-content" id="form-feedback">
                <p></p>
            </div>
            <form id="email-form">
                <div class="span12 center-content">
                    <input type="email" class="span4 required email" placeholder="yourname@email.com" name="email" id="email">
                </div>
                <div class="span12 center-content">
                    <input type="submit" value="Sign up for our private beta today!" id="submit-button" class="btn @ViewBag.ButtonClass">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="content" class="txt-middle">
    <div class="container">
        <div class="row">
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-time"></i>
                </div>
                <h2>Up and running in no time</h2>
                <p>Get Refer Engine up and running in your app within minutes.</p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-check"></i>
                </div>
                <h2>Start for Free!</h2>
                <p>It just makes sense. If Refer Engine does not work for you, you pay nothing. </p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-th"></i>
                </div>
                <h2>Multi-Platform</h2>
                <p>iOS, Android and Windows 8</p>
                <p>A customer with Android refers a friend with an iPhone? No problem! We track it all automagically.</p>
            </div>
        </div>

        <hr class="dashed">
        <div class="row">
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-lock"></i>
                </div>
                <h2>Your Brand, Your Customers</h2>
                <p>Refer Engine works under the hood. It is your brand, they are your customers.</p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-heart"></i>
                </div>
                <h2>Connect with your customers</h2>
                <p>Refer Engine connects you with your customers. We know the pain of app developers not being able to 
                    directly contact their customers.
                </p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-signal"></i>
                </div>
                <h2>Better Data</h2>
                <p>App Stores give you some info about your customers, but it is not anywhere near enough. We give you
                    more information about your customers and how they got to your app.
                </p>
            </div>
        </div>
    </div>
</div>
