<style>
    .main-slogan {
        font-size: 28px;
    }
    .win {
        margin-top: 40px;
    }

    .win img {
        border: 0;
    }
</style>
<p class="main-slogan">@ViewResources.MainSolgan</p>
<p class="win">
    @{
        ImageTag imageTag = new ImageTag("browse_windows_store_apps_dbnc18", "png", "w_1000")
                                .Attribute("width", "500")
                                .Attribute("alt", ViewResources.appSmarts);
    }
    @Links.WindowsAppStore(imageTag.ToString())
</p>
