@model AppSmarts.Web.Models.Common.PageTitleViewModel

<div id="header">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3>@Model.PageTitle</h3>
            </div>
        </div>
    </div>
</div>
