@{
    ViewBag.Title = "About";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}

@section scripts
{
    <script src="~/js/refer/friends.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/refer/friends.css" />
}

<div class="container">
    <div class="row">
        <h2 class="span12">Welcome, <span>@Model.Me.first_name</span>!
        </h2>
    </div>
    <div class="row">
        <p class="span12">
            Select the list of friends you wish to refer Blu Graphing Calculator to.
        </p>
    </div>
    <form class=".form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Default Message
            </label>
            <div class="controls">
                <textarea rows="3">
                    Hey [first_name], check out Blu Graphing Calculator!
                </textarea>
            </div>
        </div>
        <div class="control-group">
            @foreach (dynamic friend in Model.Friends.data)
            {
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" />
                        <img src="@friend.picture.data.url" />
                        @friend.name
                    </label>
                </div>
            }
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
