@section scripts {
    @Scripts.Render("~/js/home")
}

<section id="intro">
<div class="jumbotron masthead">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="camera_wrap camera_black_skin" id="camera_wrap_2" style="display: block; height: 400px; margin-bottom: 106px;"><div class="camera_fakehover"><div class="camera_src camerastarted paused">
					<div data-thumb="img/slides/camera/img1.jpg" data-src="img/slides/camera/img1.jpg">
						
					</div>
					<div data-thumb="img/slides/camera/img2.jpg" data-src="img/slides/camera/img2.jpg">

					</div>
					<div data-thumb="img/slides/camera/img3.jpg" data-src="img/slides/camera/img3.jpg">
						
					</div>
					<div data-thumb="img/slides/camera/img4.jpg" data-src="img/slides/camera/img4.jpg">
						
					</div>
				                                                                                                                                                         </div><div class="camera_target"><div class="cameraCont"><div class="cameraSlide cameraSlide_0" style="visibility: visible; display: none; z-index: 1;">
				                                                                                                                                                                                                                      <img src="img/slides/camera/img1.jpg?1366418182180" class="imgLoaded" style="visibility: visible; height: 425px; margin-left: 0px; margin-top: -12.5px; position: absolute; width: 1170px;" data-alignment="" data-portrait="" width="1170" height="425"><div class="camerarelative" style="width: 1170px; height: 400px;"></div>
				                                                                                                                                                                                                                  </div><div class="cameraSlide cameraSlide_1 cameracurrent" style="display: block; z-index: 999;"><img src="img/slides/camera/img2.jpg?1366418182269" class="imgLoaded" style="visibility: visible; height: 425px; margin-left: 0px; margin-top: -12.5px; position: absolute; width: 1170px;" data-alignment="" data-portrait="" width="1170" height="425"><div class="camerarelative" style="width: 1170px; height: 400px;"></div></div><div class="cameraSlide cameraSlide_2 cameranext" style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;"><img src="img/slides/camera/img3.jpg?1366418187341" class="imgLoaded" style="visibility: visible; height: 425px; margin-left: 0px; margin-top: -12.5px; position: absolute; width: 1170px;" data-alignment="" data-portrait="" width="1170" height="425"><div class="camerarelative" style="width: 1170px; height: 400px;"></div></div><div class="cameraSlide cameraSlide_3" style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;"><img src="img/slides/camera/img4.jpg?1366418189998" class="imgLoaded" style="visibility: visible; height: 425px; margin-left: 0px; margin-top: -12.5px; position: absolute; width: 1170px;" data-alignment="" data-portrait="" width="1170" height="425"><div class="camerarelative" style="width: 1170px; height: 400px;"></div></div><div class="cameraSlide cameraSlide_4 cameranext" style="z-index: 1; display: none;"><div class="camerarelative" style="width: 1170px; height: 400px;"></div></div></div></div><div class="camera_overlayer"></div><div class="camera_target_content"><div class="cameraContents"><div class="cameraContent" style="display: none;"><div class="camera_caption fadeFromBottom" style="visibility: hidden; opacity: 1; bottom: 0px;"><div>
							<h2>Twitter bootstrap</h2>
							<div class="hidden-phone">
								<p>
									 Mei ad recteque rationibus, ex quaeque civibus eloquentiam vim. Solet cetero id nam. Ne eos nonumy voluptua, vis nobis euismod qualisque te, no nam debet oporteat.
								</p>
							</div>
						</div></div></div><div class="cameraContent cameracurrent" style="display: block;"><div class="camera_caption fadeFromBottom" style="visibility: visible; opacity: 1; bottom: 0px;"><div>
							<h2>Responsive layout</h2>
							<div class="hidden-phone">
								<p>
									 Nam omnium salutandi ad, accusam indoctum ne mel, posse expetendis mea at. Luptatum antiopam pro ne. Eum at autem antiopam sadipscing, an his omnis splendide perfecto.
								</p>
							</div>
						</div></div></div><div class="cameraContent" style="display: none;"><div class="camera_caption fadeFromBottom" style="visibility: hidden; opacity: 1; bottom: 0px;"><div>
							<h2>Metro style</h2>
							<div class="hidden-phone">
								<p>
									 Lorem ipsum dolor sit amet, dicam singulis in ius, eu timeam aperiam pri. His suas solum legimus eu, sea an duis habemus urbanitas. No sapientem consetetur sit an.
								</p>
							</div>
						</div></div></div><div class="cameraContent" style="display: none;"><div class="camera_caption fadeFromBottom" style="visibility: hidden; opacity: 1; bottom: 0px;"><div>
							<h2>Lot of features</h2>
							<div class="hidden-phone">
								<p>
									 Sit et laudem aperiri argumentum. Vim laboramus instructior eu, minim aliquid accusata ut est, sea ut ridens causae quaerendum. Ea vide posidonium usu qui ad pertinax.
								</p>
							</div>
						</div></div></div></div></div><div class="camera_bar" style="top: auto; height: 7px;"><span class="camera_bar_cont" style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);"><span id="pie_0" style="opacity: 0.8; position: absolute; background-color: rgb(238, 238, 238); left: 0px; right: 819px; top: 2px; bottom: 2px; display: none;"></span></span></div><div class="camera_commands" style="opacity: 0;"><div class="camera_play" style="display: block;"></div><div class="camera_stop" style="display: none;"></div></div><div class="camera_prev" style="opacity: 0;"><span></span></div><div class="camera_next" style="opacity: 0;"><span></span></div></div><div><div class="camera_thumbs"><div><div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div><div class="camera_nextThumbs"><div></div></div><div class="camera_thumbs_cont" style="visibility: visible;"><div><ul style="width: 1172px; margin-left: auto; margin-right: auto; margin-top: 0px;"><li class="pix_thumb pix_thumb_0 camera_visThumb"><img src="img/slides/camera/img1.jpg" class="camera_thumb" style="opacity: 0.5;"></li><li class="pix_thumb pix_thumb_1 cameracurrent camera_visThumb"><img src="img/slides/camera/img2.jpg" class="camera_thumb" style="opacity: 1;"></li><li class="pix_thumb pix_thumb_2 camera_visThumb"><img src="img/slides/camera/img3.jpg" class="camera_thumb" style="opacity: 0.5;"></li><li class="pix_thumb pix_thumb_3"><img src="img/slides/camera/img4.jpg" class="camera_thumb" style="opacity: 0.5;"></li></ul></div></div></div></div></div></div><div class="camera_loader" style="display: none; visibility: visible;"></div></div>
				<!-- #camera_wrap_1 -->
			</div>
		</div>
	</div>
</div>
</section>

<div id="landing">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2>Facebook Marketing for App Developers</h2>
                <p>Refer Engine enables Facebook recommendations within your app with customer rewards. Works with Windows, iOS and Android
                    and Web apps. Instant setup. Start for free!</p>
                <p class="txt-middle" id="request-invite">
                    <a class="btn btn-primary btn-action" href="#private-beta" role="button" data-toggle="modal">Request an Invite</a>
                </p>
            </div>
            <div class="span6">
                <div class="js-video pull-right">
                    <iframe @*src="https://player.vimeo.com/video/58735872"*@ width="450" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="txt-middle">
    <div class="container">
        
        <div class="row">
		<div class="span3">
			<h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Main features</h3>
			<p>
				Get Refer Engine up and running in your app within minutes
			</p>
		</div>
		<div class="span3">
			<div class="well well-primary box">
                @Images.ClockIcon.ToHtmlString()
				<h3>Up and running in no time</h3>
				<p>
					 Get Refer Engine up and running in your app within minutes
				</p>
			</div>
		</div>
		<div class="span3">
			<div class="well well-success box">
				<img src="~/img/icons/box-2-white.png" alt="">
				<h3>Start for Free</h3>
                <p>It just makes sense. If Refer Engine does not work for you, you pay nothing. </p>
			</div>
		</div>
		<div class="span3">
			<div class="well well-warning box">
				<img src="~/img/icons/box-3-white.png" alt="">
				<h3>Reward your best customers</h3>
                <p>The best marketing is word of mouth. So reward your most influential customers.</p>
			</div>
		</div>
	</div>

@*        <div class="row">
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-time"></i>
                </div>
                <h3>Up and running in no time</h3>
                <p>Get Refer Engine up and running in your app within minutes.</p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-check"></i>
                </div>
                <h3>Start for Free</h3>
                <p>It just makes sense. If Refer Engine does not work for you, you pay nothing. </p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-user"></i>
                </div>
                <h3>Reward your best customers</h3>
            </div>
        </div>*@
    </div>
</div>
