@section scripts {
    @Scripts.Render("~/js/home")
}

<div id="landing">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2>Facebook Marketing for App Developers</h2>
                <p>Refer Engine enables Facebook recommendations within your app with customer rewards. Works with Windows, iOS and Android
                    and Web apps. Instant setup. Start for free!</p>
                <p class="txt-middle" id="request-invite">
                    <a class="btn btn-primary btn-action" href="#private-beta" role="button" data-toggle="modal">Request an Invite</a>
                </p>
            </div>
            <div class="span6">
                <div class="js-video pull-right">
                    <iframe @*src="https://player.vimeo.com/video/58735872"*@ width="450" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="txt-middle">
    <div class="container">
        
        <div class="row">
		<div class="span3">
			<h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Main features</h3>
			<p>
				Get Refer Engine up and running in your app within minutes
			</p>
		</div>
		<div class="span3">
			<div class="well well-primary box">
                @Images.ClockIcon.ToHtmlString()
				<h3>Up and running in no time</h3>
				<p>
					 Get Refer Engine up and running in your app within minutes
				</p>
			</div>
		</div>
		<div class="span3">
			<div class="well well-success box">
				<img src="~/img/icons/box-2-white.png" alt="">
				<h3>Start for Free</h3>
                <p>It just makes sense. If Refer Engine does not work for you, you pay nothing. </p>
			</div>
		</div>
		<div class="span3">
			<div class="well well-warning box">
				<img src="~/img/icons/box-3-white.png" alt="">
				<h3>Reward your best customers</h3>
                <p>The best marketing is word of mouth. So reward your most influential customers.</p>
			</div>
		</div>
	</div>

@*        <div class="row">
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-time"></i>
                </div>
                <h3>Up and running in no time</h3>
                <p>Get Refer Engine up and running in your app within minutes.</p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-check"></i>
                </div>
                <h3>Start for Free</h3>
                <p>It just makes sense. If Refer Engine does not work for you, you pay nothing. </p>
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-user"></i>
                </div>
                <h3>Reward your best customers</h3>
            </div>
        </div>*@
    </div>
</div>
