@{ 
    ViewProperties viewProperties = ((ViewProperties)ViewData["ViewProperties"]);
    viewProperties.PageTitle = "Blu Graphing Calculator Privacy Settings"; 
}

@section Navigation 
{
    Blu Graphing Calculator Privacy Settings
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">                
                <p>
                    Apexa is committed to helping protect your privacy. This privacy statement explains the data collection and use practices for the Apexa Product Usage Improvement Program (PUIP) reports that will be sent to Apexa if you participate in the program. This statement does not apply to other online or offline Apexa sites, products, or services.
                </p>
                <h3>
                    Collection and Use of Information
                </h3>
                <p>
                    When you participate, we collect basic information about how you use your Apexa software and the environment (hardware and OS) in which this software is running. We also collect information about how each is set up and performing. These reports are sent to Apexa to help improve the features our customers use most often and to create solutions to common problems.
                </p>
                <p>
                    When you install an Apexa product, you will be automatically participating in the program. To change your participation later, click the Settings menu in most Apexa programs, and then click Privacy Settings. 
                </p>
                <p>
                    PUIP reports generally include information about:
                </p>
                <ul>
                    <li>Configuration, such as how many processors are in your computer, screen resolutions for display devices, device capabilities such as touch and whether keyboard/mouse are present.</li>
                    <li>Performance and reliability, such as how quickly a program responds when you click a button and how many problems you experience with a program or a device.</li>
                    <li>Program use, such as the features that you use the most often and how frequently you perform a particular action.</li>
                </ul>
                <p>
                    Apexa does not store your IP address with your PUIP reports. Apexa uses PUIP information to improve our software. We never share this information with anyone outside of Apexa.
                </p>
                <p>
                    Information that is collected by or sent to Apexa may be stored and processed in the United States or any other country in which Apexa or its affiliates, subsidiaries, or agents maintain facilities. Apexa may disclose this information if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Apexa or the site; (b) protect and defend the rights or property of Apexa and its family of websites, or (c) act in urgent circumstances to protect the personal safety of Apexa employees, users of Apexa software or services, or members of the public. Apexa occasionally hires other companies to provide limited services on its behalf, such as providing customer support, processing transactions, or performing statistical analysis of reports. Apexa will provide those companies only the information they need to deliver the service. They are required to maintain the confidentiality of this information and are prohibited from using it for any other purpose.
                </p>
                <h3>
                    Changes to this Statement
                </h3>
                <p>
                    Apexa may occasionally update this privacy statement. When we do, we will also revise the "last updated" date at the top of the privacy statement. We encourage you to periodically review this privacy statement to stay informed about how we are helping to protect the information we collect.
                </p>
            </div>
        </div>
    </div>
</div>

