 @model AppSmarts.Common.Models.App

@{
}

@section scripts
{
    @Scripts.Render("~/js/app/edit")
}

@section styles
{
    @Styles.Render("~/css/app/edit")
}

<h2>Edit</h2>

<input type="hidden" id="appId" value="@Model.Id" />

<div class="container">
    <div class="row">
        <div class="span12">
            <form>
                <input type="file" name="datafile" />
                <input type="button" value="upload"
                    onclick="RE.App.UploadFile(this.form); return false;">
                <div class="upload-feedback"></div>
            </form>
        </div>
    </div>
</div>
