<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppSmarts.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ReferEngine.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    
  <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" /><section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" /></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <AppSmarts.Common.Properties.Settings>
      <setting name="DataWriteBusNamespace" serializeAs="String">
        <value>referenginedatawritebus</value>
      </setting>
      <setting name="DataWriteBusIssuerName" serializeAs="String">
        <value>owner</value>
      </setting>
      <setting name="DataWriteBusIssuerKey" serializeAs="String">
        <value>gyFFjJOT98wjzS77VRhZGic8YooQhQTSOcv9VSjSzW4=</value>
      </setting>
    </AppSmarts.Common.Properties.Settings>
    <ReferEngine.Common.Properties.Settings>
      <setting name="DataWriteBusNamespace" serializeAs="String">
        <value>referenginedatawritebus</value>
      </setting>
      <setting name="DataWriteBusIssuerName" serializeAs="String">
        <value>owner</value>
      </setting>
      <setting name="DataWriteBusIssuerKey" serializeAs="String">
        <value>gyFFjJOT98wjzS77VRhZGic8YooQhQTSOcv9VSjSzW4=</value>
      </setting>
      <setting name="RenewLockDelta" serializeAs="String">
        <value>00:00:10</value>
      </setting>
    </ReferEngine.Common.Properties.Settings>
  </applicationSettings>
  
  <connectionStrings>
    <add name="west" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=referengine_db;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="west_test" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=referengine_db_test;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="west_local" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=referengine_db_local;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="east" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=referengine_db_eastus;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="east_test" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=referengine_db_eastus_test;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="east_local" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=referengine_db_eastus_local;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="asia" connectionString="Server=tcp:r0mmnh6n2q.database.windows.net,1433;Database=referengine_db_eastasia;User ID=tarek990@r0mmnh6n2q;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="asia_test" connectionString="Server=tcp:r0mmnh6n2q.database.windows.net,1433;Database=referengine_db_eastasia_test;User ID=tarek990@r0mmnh6n2q;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="asia_local" connectionString="Server=tcp:r0mmnh6n2q.database.windows.net,1433;Database=referengine_db_eastasia_local;User ID=tarek990@r0mmnh6n2q;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ios_west" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=iOS-Production-West;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ios_east" connectionString="Server=tcp:cy7xqbzm5w.database.windows.net,1433;Database=iOS-Production-East;User ID=tarek990@cy7xqbzm5w;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ios_local" connectionString="Server=tcp:fnx5xvuqzn.database.windows.net,1433;Database=iOS-Local;User ID=tarek990@fnx5xvuqzn;Password=r6g4d2hA..;Trusted_Connection=False;Encrypt=True;Connection Timeout=180;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <assemblyBinding>
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
    </dependentAssembly>
  </assemblyBinding>
<dataCacheClients><dataCacheClient name="default"><autoDiscover isEnabled="true" identifier="[cache cluster role name]" /><!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />--></dataCacheClient></dataCacheClients><cacheDiagnostics><crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" /></cacheDiagnostics></configuration>