.ellipsify {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#content {
  padding: 0;
  padding-top: 20px;
  min-height: 500px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.row-bmargin {
  margin-bottom: 20px;
}
.row-bmargin-sml {
  margin-bottom: 10px;
}
strong {
  font-weight: bold !important;
}
.app-result-row {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.app-result-row:hover {
  background-color: #EEE;
}
.app-result-row > div {
  padding-top: 12px;
}
.app-result-row > div:first-child {
  padding-top: 0;
}
[data-sp-step] {
  display: none;
}
