
	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="span12">
		    <h1>Copyright</h1>
		  </div>
		</div>
	  </div>
	</div>

<div id="content">
<div class="container">
    <div class="row">
        <div class="span12">
            <div>

                <p>Refer Engine ("Refer Engine") respects the intellectual property rights of others and expects its users to do the same. It is Refer Engine’s policy, in appropriate circumstances and at its discretion, to disable and/or terminate the accounts of users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others.</p>
                <p>In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at <a href="http://www.copyright.gov/legislation/dmca.pdf">http://www.copyright.gov/legislation/dmca.pdf</a>, Refer Engine will respond expeditiously to claims of copyright infringement committed using the Refer Engine website (the "Site") that are reported to Refer Engine’s Designated Copyright Agent, identified in the sample notice below.</p>
                <p>If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following DMCA Notice of Alleged Infringement and delivering it to Refer Engine’s Designated Copyright Agent. Upon receipt of the Notice as described below, Refer Engine will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged material from the Site. DMCA Notice of Alleged Infringement ("Notice")</p>
                <ol>
                    <li>Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.</li>
                    <li>Identify (i) the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on the Site where such material may be found, and (ii) the reference or link, to the material or activity that you claim to be infringing, that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate that reference or link, including at a minimum, if applicable, the URL of the link shown on the Site where such reference or link may be found.</li>
                    <li>Provide your mailing address, telephone number, and, if available, email address.</li>
                    <li>Include both of the following statements in the body of the Notice:<br />
                        "I hereby state that I have a good faith belief that the disputed use of the copyrighted material or reference or link to such material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."<br />
                        "I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."
                    </li>
                    <li>Provide your full legal name and your electronic or physical signature.</li>
                </ol>

                <p>Deliver this Notice, with all items completed, to Refer Engine’s mailing address:</p>
                <p>
                    Apexa Inc.<br />
                    600 Bellevue Ave, 202<br />
                    Seattle, WA 98102<br />
                    Email:  support@referengine.com
                </p>

                <h3>What if I receive a Copyright Complaint (DMCA) notification?</h3>
                <p>If you receive a notification that a Recommendation has been removed due a copyright complaint, it means that the Recommendation’s content has been deleted from Refer Engine at the request of the content’s owner. If your account receives too many copyright complaints, you may lose the ability to Recommendation new content on Refer Engine, and your account may be disabled completely.</p>
                <p>If you believe a Recommendation was removed in error, you have the option to file a counter-notice by following the steps below. When we receive a valid counter-notice, we will forward a copy to the person who filed the original complaint. If we do not receive notice within 10 business days that the submitter of the original complaint is seeking a court order to prevent further infringement of the content at issue, we will remove the complaint from your account’s record, and we may replace the content that was removed.</p>
                <p>Note: There are legal and financial consequences for fraudulent and/or bad faith submissions. Before submitting a counter-notice, be sure that you are the actual rights holder of the removed content or that you have a good faith belief that the material was removed in error, and understand the repercussions of submitting a false claim.</p>

                <h3>How to File a Counter-Notice</h3>
                <ol>
                    <li>1. Email your counter-notice to <a href="mailto:support@referengine.com">support@referengine.com</a>.</li>
                    <li>2. Include ALL of the following:
            <ol>
                <li>Your name, address, and telephone number.</li>
                <li>DMCA ID printed at the bottom of the notification email.</li>
                <li>The source address of the content that was removed (copy and paste the link in the notification email).</li>
                <li>A statement under penalty of perjury that you have a good faith belief that the content was removed in error.</li>
                <li>A statement that you consent to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if your address is outside of the United States, for any judicial district in which Refer Engine may be found, and that you will accept service of process from the person who provided the original complaint under subsection (c)(1)(C) or an agent of such person.</li>
                <li>A physical or electronic signature (for example, tyRecommendationg your full name);</li>
            </ol>
                    </li>
                </ol>

            </div>
        </div>
    </div>
</div>
</div>

