<div id="header">
	<div class="container">  
	<div class="row">
		<div class="span12">
		<h1>Terms of Use</h1>
		</div>
	</div>
	</div>
</div>

<div id="content">
<div class="container">
    <div class="row">
        <div class="span12">
            <div>
                <p>
                    Refer Engine's products and services are provided by Apexa, Inc. These Terms of Service ("Terms") govern your access to and use of Refer Engine's website, products, and services ("Products"). Please read these Terms carefully, and <a href="mailto:support@referengine.com">contact us</a> if you have any questions. By accessing or using our Products, you agree to be bound by these Terms and by our <a href="~/about/privacy/">Privacy Policy</a>.
                </p>

                <div class="well">
                    <h4>Summary</h4>
                    <ul>
                        <li>You can use Refer Engine unless you're under 13.  Also, if you are using Refer Engine for commercial purposes, you need to set up a business account.
                        </li>
                        <li>If you post your content on Refer Engine, it still belongs to you but we can show it to people.
                        </li>
                        <li>Copies of content shared with others may remain even after you delete the content from your account.
                        </li>
                        <li>Also, don't link to porn or spam or be a jerk to other users.  
                        </li>
                        <li>We can actually use your suggestions to make Refer Engine better.
                        </li>
                        <li>We respect copyrights.  You should, too.
                        </li>
                        <li>User posts may link to content off of Refer Engine.  We're not responsible for content anywhere else.
                        </li>
                        <li>We reserve the right to refuse service to anyone.
                        </li>
                        <li>If we are sued because of something your business does on Refer Engine, you have to pay our costs.  Also, you should have created a business account and agreed to our commercial terms in the first place.
                        </li>
                        <li>Unfortunately, people post bad stuff on user-generated content sites like Refer Engine.  We take that kind of thing seriously but you still might run into it before we have a chance to take it down.  If you see bad stuff, please report it to us.
                        </li>
                        <li>We are building the best service we can for you but we can't promise it will be perfect. We're not liable for various things.
                        </li>
                        <li>We're in Seattle, Washington. You'll have to sue us here.
                        </li>
                        <li>If we're making a big change to the terms, we'll let you know.
                        </li>
                    </ul>
                </div>

                <h2>1. Using Refer Engine</h2>
                <h4>a. Who can use Refer Engine.</h4>
                <p>You may use our Products only if you can form a binding contract with Refer Engine, and only in compliance with these Terms and all applicable laws. When you create your Refer Engine account, you must provide us with accurate and complete information. Any use or access by anyone under the age of 13 is prohibited. If you open an account on behalf of a company, organization, or other entity, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity's behalf. Some of our Products may be software that is downloaded to your computer, phone, tablet, or other device. You agree that we may automatically upgrade those Products, and these Terms will apply to such upgrades.</p>
                <h4>b. Our license to you.</h4>
                <p>Subject to these Terms and our policies (including our <a href="~/about/use/">Acceptable Usage Policy</a>), we grant you a limited, non-exclusive, non-transferable, and revocable license to use our Products.</p>
                <h4>c. Commercial use of Refer Engine.</h4>
                <p>If you want to use our Products for commercial purposes you must create a business account and agree to our Business Terms of Service.</p>

                <h2>2. Your Content</h2>
                <h4>a. Posting content.</h4>
                <p>Refer Engine allows you to post content, including photos, comments, and other materials. Anything that you post or otherwise make available on our Products is referred to as "User Content." You retain all rights in, and are solely responsible for, the User Content you post to Refer Engine.</p>

                <h4>b. How Refer Engine and other users can use your content.</h4>
                <p>You grant Refer Engine and its users a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, store, display, reproduce, modify, create derivative works, perform, and distribute your User Content on Refer Engine solely for the purposes of operating, developing, providing, and using the Refer Engine Products. Nothing in these Terms shall restrict other legal rights Refer Engine may have to User Content, for example under other licenses. We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms or our policies.</p>
                <h4>c. How long we keep your content:</h4>
                <p>Following termination or deactivation of your account, or if you remove any User Content from Refer Engine, we may retain your User Content for a commercially reasonable period of time for backup, archival, or audit purposes. Furthermore, Refer Engine and its users may retain and continue to use, store, display, reproduce, modify, create derivative works, perform, and distribute any of your User Content that other users have stored or shared through Refer Engine.</p>

                <h4>d. Your responsibility for your content:</h4>
                <p>i. To Refer Engine and our community. Refer Engine provides a creative and positive place for you and other users to discover and recommend things you love. To keep it that way, you must abide by our <a href="~/about/use/">Acceptable Use Policy</a>. Except as expressly provided in these Terms, you agree not to use, modify, reproduce, distribute, sell, license, or otherwise use our Products without our permission.</p>
                <p>ii. To third parties. Refer Engine respects the rights of third party creators and content owners, and expects you to do the same. You therefore agree not to post any User Content that violates any law or infringes the rights of any third party.</p>

                <h4>e.  Feedback you provide:</h4>
                <p>We value hearing from our users, and are always interested in learning about ways we can make Refer Engine better. If you choose to submit comments, ideas or feedback, you agree that we are free to use them without any restriction or compensation to you. By accepting your submission, Refer Engine does not waive any rights to use similar or related Feedback previously known to Refer Engine, or developed by its employees, or obtained from sources other than you.</p>

                <h2>3. Copyright Policy</h2>
                <p>Refer Engine has adopted and implemented the Refer Engine <a href="~/about/copyright/">Copyright Policy</a> in accordance with the Digital Millennium Copyright Act. For more information, please read our <a href="~/about/copyright/">Copyright Policy</a>.</p>

                <h2>4. Security</h2>
                <p>We care about the security of our users. While we work to protect the security of your content and account, Refer Engine cannot guarantee that unauthorized third parties will not be able to defeat our security measures. Please notify us immediately of any compromise or unauthorized use of your account.</p>

                <h2>5. Third-party Links, Sites and Services</h2>
                <p>Our Products may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by Refer Engine. We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from Refer Engine, you do so at your own risk and you agree that Refer Engine will have no liability arising from your use of or access to any third-party website, service, or content.</p>

                <h2>6. Termination.</h2>
                <p>Refer Engine may terminate or suspend this license at any time, with our without cause or notice to you. Upon termination, you continue to be bound by Sections 2 and 6-12 of these Terms.</p>

                <h2>7. Indemnity</h2>
                <p>If you use our Products for commercial purposes in violation of Section 1(c), as determined in our sole and absolute discretion, you agree to indemnify and hold harmless Refer Engine and its officers, directors, employees and agents, from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees (including costs of defense of claims, suits or proceedings brought by third parties), in any way related to (a) your access to or use of our Products, (b) your User Content, or (c) your breach of any of these Terms.</p>

                <h2>8. Disclaimers</h2>
                <p>The Products and all included content are provided on an "as is" basis without warranty of any kind, whether express or implied.</p>

                <p>Refer Engine SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.</p>
                <p>Refer Engine takes no responsibility and assumes no liability for any User Content that you or any other user or third party posts or transmits using our Products. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose.</p>

                <h2>9. Limitation of Liability</h2>
                <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, Refer Engine SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL Refer Engine'S AGGREGATE LIABILITY EXCEED ONE HUNDRED U.S. DOLLARS (U.S. $100.00).</p>

                <h2>10. Arbitration</h2>
                <p>For any dispute you have with Refer Engine, you agree to first <a href="mailto:support@referengine.com">contact us</a> and attempt to resolve the dispute with us informally. If Refer Engine has not been able to resolve the dispute with you informally, we each agree to resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms by binding arbitration by the American Arbitration Association ("AAA") under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for the AAA, except as provided herein. Unless you and Refer Engine agree otherwise, the arbitration will be conducted in the county where you reside. Each party will be responsible for paying any AAA filing, administrative and arbitrator fees in accordance with AAA rules, except that Refer Engine will pay for your reasonable filing, administrative, and arbitrator fees if your claim for damages does not exceed $75,000 and is non-frivolous (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)). The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys' fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to the Service. ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON'S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND Refer Engine ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</p>

                <h2>11. Governing Law and Jurisdiction</h2>
                <p>These Terms shall be governed by the laws of the State of Washington, without respect to its conflict of laws principles. We each agree to submit to the personal jurisdiction of a state court located in King County, Washington for any actions not subject to Section 10 (Arbitration).</p>
                <p>Our Products are controlled and operated from the United States, and we make no representations that they are appropriate or available for use in other locations.</p>

                <h2>12. General Terms</h2>
                <p>Notification Procedures and changes to these Terms. Refer Engine reserves the right to determine the form and means of providing notifications to you, and you agree to receive legal notices electronically if we so choose. We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you. By continuing to access or use the Products after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Products.</p>
                <p>Assignment. These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Refer Engine without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.</p>
                <p>Entire Agreement/Severability. These Terms, together with the Privacy Policy and any amendments and any additional agreements you may enter into with Refer Engine in connection with the Products, shall constitute the entire agreement between you and Refer Engine concerning the Products. If any provision of these Terms is deemed invalid, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.</p>
                <p>No Waiver. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and Refer Engine's failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision.</p>
            </div>
        </div>
    </div>
</div>
</div>

