@using AppSmarts.Common.Utilities
@model AppSmarts.Common.Models.App

<div class="banner">
    Win cash by recommending @Model.Name to your friends!
</div>
    
@Html.Image(Server.MapPath("~/img/recommend/win8/intro-steps.png"), "Recommend Your Friends", "intro-steps")
    
<div class="steps title">
    <div class="rcmnd">Recommend</div>
    <div class="earn">Win</div>
</div>
<div class="steps text">
    <div class="rcmnd">
        <span>share with your friends on facebook.</span>
    </div>
    <div class="earn">
        <span>win <strong>$@Model.RewardPlan.CashAmount cash for every
            @if (Model.RewardPlan.NumberOfRecommendations == 1)
            {
                @:friend
            }
            else if (Model.RewardPlan.NumberOfRecommendations > 1)
            {
                @:@Model.RewardPlan.NumberOfRecommendations.ToString() friends
            }
            </strong> who buys the app<sup>*</sup></span>
    </div>
</div>
    
<div class="rules">
    @Html.RouteLink("* Other rules apply", "Default", new { controller = "About", action = "Rules", Id = 21 },
                    new { target = "_blank" })
</div>