<div class="row">
    <div class="span12">
        <ul>
            <li>
                <a href="~/admin/inviterequests">Invite Requests</a>
            </li>
            <li>
                <a href="~/admin/admin">Users</a>
            </li>
            <li>
                Status
                <ul>
                    <li><a href="~/admin/tracelogs">Trace Logs</a></li>
                    <li><a href="~/admin/errors" target="_blank">Server Errors</a></li>
                </ul>
            </li>
            <li>
                Windows Store
                <ul>
                    <li><a href="~/admin/windowsappinvites">Windows App Invites</a></li>
                    <li><a href="~/admin/windowsstorecategories">Windows Store Categories</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
