@using ReferEngine.Common.Data

@{
    ViewBag.Title = "Windows App Invites";
}

@section scripts {
    <script data-main="/typescript/admin/windowsAppInvites.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Email:</td>
                            <td><input type="email" placeholder="username@email.com" id="email" name="email" /></td>
                        </tr>
                        <tr>
                            <td>MS App Id:</td>
                            <td><input type="text" id="msAppId" name="msAppId" /></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" placeholder="e.g. John" id="name" name="name" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <a class="btn pull-right btn-success" id="send-invite">Send Invite</a>
            </div>
        </div>
    </div>
</div>
