.hidden {
    display:none;
}

#open-win8-store {
    cursor: pointer;
}

#recommendations .heading .btn {
    padding: 5px
}

.recommenders-list {
    font-size: small;

    h5 {
        font-weight: bold !important; 
    }

    .rcmd-text {
        margin-left: 60px;

        .rcmd-time {
            font-size: x-small;
        }
    }
}

.fb-name {
    color: #3b5998;
}