body {
    font-family: 'Open Sans';
}

.tm {
    font-size: 14px;
}

a {
    text-decoration: none;

    &:visited {
        color: black;
    }
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    color: #FFF;
    background-color: #000;

    ul {
        list-style: none;
    }

    li {
        float: right;

        a {
            padding: 10px 15px;
            color: #ccc;
        }
    }
}

.text-center {
    text-align: center;
}

.clean-logo {
    padding-top: 50px;
    text-decoration: none; 
    font-size: 24px;

    img {
        border: 0
    }
}