@model ReferEngine.Common.Models.WindowsAppStoreCategory

<li class="portfolio-item2" data-id="id-0" data-type="web">
    <div class="span3">
        <div class="thumbnail">
            <a href="~/app-store/windows/@Model.LinkPart">
                
                <div class="image-wrapp">
                    @if (Model.CloudinaryImage != null)
                    {
                        ImageTag imageTag = new ImageTag(Model.CloudinaryImage.Id, Model.CloudinaryImage.Format);
                        <text>@imageTag.ToHtmlString()</text>
                    }
                    else
                    {
                        <img src="~/img/dummies/work1.jpg"
                            style="height: 90px; width: 270px" alt="Portfolio name" title="" />
                    }
                </div>
                <div class="caption" style="cursor: pointer">
                    <h3>@Model.Name</h3>
                </div>
            </a>
        </div>
    </div>
</li>
