@model ReferEngine.Models.Error.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="span12">
            <p class="error">@Model.ErrorMessage</p>
        </div>
    </div>
</div>
